/* @media screen and (max-width: 1200px) {
    header {
        padding: 1rem 5rem;
    }
    header > div {
        font-size: 0.8rem;
        gap: 1.1rem;
    }
    header svg {
        display: none;
    }
    nav li {
        padding-right: 3rem;
    }
    header nav a {
        font-size: 0.8rem;
    }
    header nav a:hover{
        color: green;
        cursor: pointer;
    }
} */
@media screen and (max-width: 450px) {
    header > div {
        font-size: 0.8rem;
        gap: 1.1rem;
    }
    nav {
        display: none;
        height: 80vh;
        width: 70%;
        position: absolute;
        left: 0%;
        /* background-color:  rgba(0, 0, 0, 0.827); */
        background-color: wheat;
        justify-content: center;
        align-items: center;
        z-index: 1;
        margin-top: 8.7rem;
    }
    nav ul {
        background-color: black;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 5rem;
        height: 85vh;
    }
    nav ul li {
        padding-right: 5rem;
    }
    header svg {
        display: block;
        color: orangered;
        font-weight: bold;
    }
    header nav a {
        font-size: 1.8rem;
    }
    header nav a:hover{
        color: green;
        cursor: pointer;
    }
    #menu {
        display: initial;
        cursor: pointer;
    }
    .detail {
        position: relative;
        height: 100vh;
        width: 100vw;
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .detail_text {
        width: 100%;
        padding-left: 0rem;
        border: none;
    }
    .detail_text h3 {
        font-size: 1.8rem;
        font-weight: 700;
        padding-bottom: 1.7rem;
        color: rgb(53, 53, 53);
    }
    .detail_text p {
        font-size: 1.2rem;
        font-weight: 400;
        color: rgb(53, 53, 53);
    }
    .detail img {
        width: 80%;
        padding: 0rem;
    }
    .Third {
        width: 100vw;
        height: 100%;
        align-items: start;
        padding-top: 7rem;
        padding-bottom: 5rem;
    }
    .Third_Intro {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-bottom: 1.8rem;
        padding-left: 3rem;
        border-left: 4px solid green;
    }
    .Third_Intro h3 {
        font-size: 2.2rem;
        padding-bottom: 1.1rem;
        color: rgb(53, 53, 53);
    }
    .Third_Intro p {
        font-size: 1.4rem;
    }
    .Third_Detail {
        padding: 0rem 3rem;
    }
    .Third_Detail h4 {
        font-size: 1.4rem;
        color: rgb(53, 53, 53);
    }
    .Third_Detail p {
        color: rgb(53, 53, 53);
    }
    .Third_Detail img {
        height: 3.9rem;
    }
    .vision h4, img, p{
        padding-bottom: 0.9rem;
    }
    .mission h4, img, p{
        padding-bottom: 0.9rem;
    }
    .recycle h4, img, p{
        padding-bottom: 0.9rem;
    }

    .Fourth{
        width: 100%;
        height: 230vw;
        flex-direction: column;
        gap: 2rem;
    }
    .register_form {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.4rem;
        width: 100%;
    }
    .user-details {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.4rem;
    }
    .user-details .input-box{
        width: 90%;
    }
    .user-details .title{
        font-size: 1.8rem;
        font-weight: 700;
    }
    .user-details .input-box input{
        height: 45px;
        width:100%;
        border: 1px solid #bfbfbf;
        font-size: 16px;
        padding-left: 1.2rem;
        background-color: rgb(235, 235, 223);
    }
    .form-button{
    height: 100%;
    width: 90%;
    color: rgb(235, 235, 223);
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.7rem;
    background-color: black;
    } 
    form button:hover{
        background-color: rgb(235, 235, 223);
        color: black;
    }
    .map {
        display: none;
        width: 100%;
        padding-top: 0rem;
        /* padding-left: 2rem; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.1rem;
        height: 80%;
    }
    .map h2 {
        font-size: 1.7rem;
        font-weight: 700;
    }
    .map img {
        height: 2rem;
    }
    .map > div {
        display: flex;
        justify-content: baseline;
        align-items: center;
        gap: 0.5rem;
    } 
    .map iframe {
        width: 70%;
        height: 65%;
    }

    footer {
        width: 100vw;
    }
    #btn {
        position: fixed;
        right: 2%;
    }
    #volunteer_form_module {
        width: 85%;
    }
    .input-box{
        width: 100%;
    }
    .title{
        font-size: 1.8rem;
        font-weight: 700;
    }
    .input-box input{
        height: 45px;
        width:100%;
        border: 1px solid #bfbfbf;
        font-size: 16px;
        padding-left: 1.2rem;
        background-color: rgb(235, 235, 223);
    }
    form button{
    height: 100%;
    width: 100%;
    color: rgb(235, 235, 223);
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.7rem;
    background-color: black;
    } 
    form button:hover{
        background-color: rgb(235, 235, 223);
        color: black;
    }
}