@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* navbar */
header {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.6rem;
    background-color: antiquewhite;
    position: fixed;
    z-index: 10;
}
header > div {
    display: flex;
    justify-self: start;
    align-items: start;
    align-content: center;
    font-size: 1rem;
    gap: 1.1rem;
}
header img {
    max-width: 100%;
    height: 3rem;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav li {
    padding-right: 5rem;
}
header svg {
    display: none;
}
header nav a {
    font-size: 1rem;
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}
header nav a:hover{
    color: green;
    cursor: pointer;
}

/* main body  */
.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
section {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.awarness-section-1 {
    background-color: antiquewhite;
    height: 100vh;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.awarness-section-1 h3 {
    font-size: 1.4rem;
    color: orangered;
    text-decoration: underline solidwhite;
}
.main1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main1-img img {
    width: 500px;
    animation: main1img 2s ease-in-out ;
    animation-timeline: view(block 50% 10%);
}
@keyframes main1img {
    from {
        transform: translate(-200px);
    }
    to {
        transform: translate(0px);
    }
}
.main1-text {
    width: 27rem;
    background-color: rgba(51, 51, 51, 0.801);
    color: white;
    animation: main1text 2s ease-in-out reverse forwards;
    animation-timeline: view(block 70% 40%);
    border-radius: 1.2rem;
    padding: 1.2rem;
}
@keyframes main1text {
    from {
        transform: translate(-10px);
    }
    to {
        transform: translate(250px);
    }
}
.awarness-section-2 {
    z-index: -1;
}
.awarness-section-3 {
    z-index: 0;
    height: 70vh;
}
.awarness-s2, .awarness-s3 {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s2-p1 {
    background-color: rgb(172, 208, 172);
    transform: translateZ(-10px) scale(2);
}
.s2-p2 {    
    transform: translateZ(0px);
}
.s3-p1 {
    background-color: antiquewhite;
    /* background-image: url('../Assest/img3.jpeg.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover; */
    transform: translateZ(0px);
}
.s3-p2 {
    transform: translateZ(5px) scale(0.5);
}

.main2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main2-img img {
    width: 400px;
    height: 500px;
    animation: main2img ease-in-out 2s both;
    object-fit: cover;
    animation-timeline: view(block 20% 20%);
}
@keyframes main2img {
    from {
        transform: translateY(-680px);
    }
    to {
        transform: translateY(680px);
    }
}
.main2-text {
    width: 25rem;
    background-color: rgba(51, 51, 51, 0.801);
    color: white;
    animation: main2text 2s ease-in-out 2s both;
    transform-origin: right;
    animation-timeline: view(block 55% 30%);
    border-radius: 1.2rem;
    padding: 1.6rem;
}
@keyframes main2text {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(-700px);
    }
}
.main3-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.main3-text h3 {
    font-size: 2rem;
}
.main3-text > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main3-text p {
    font-size: 1.3rem;
    font-weight: 500;
    max-width: 80%;
}

/* awarness form  */
.awarness-section-4 {
    background-color: rgb(172, 208, 172);
    height: 100vh;
    position: relative;
}
.title {
    color: orangered;
}
.title-awarness-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
form {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    width: 50%;
}
.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
}
form .user-details .input-box{
    width: 100%;
}
.title{
    font-size: 1.8rem;
    font-weight: 700;
}
.input-date {
    height: 2rem;
    border: 1px solid #bfbfbf;
    padding: 0.2rem;
}
.user-details .input-box .input-text{
    height: 45px;
    width:100%;
    border: 1px solid #bfbfbf;
    font-size: 16px;
    padding-left: 1.2rem;
    background-color: rgb(235, 235, 223);
}
.user-details .input-box textarea{
    width:100%;
    border: 1px solid #bfbfbf;
    font-size: 16px;
    padding-left: 1.2rem;
    background-color: rgb(235, 235, 223);
}
form button{
height: 20%;
width: 40%;
border-radius: 2rem;
color: white;
border: none;
font-size: 1.1rem;
font-weight: 500;
padding: 0.7rem;
background-color: orangered;
} 
form button:hover{
    background-color: rgb(235, 235, 223);
    color: black;
}

/* footer */
footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
    gap: 2rem;
}
.footer_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_img {
    width: 7rem;
}
.socials a {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
}
.socials {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1.2rem;
}
.copyright{
    color: antiquewhite;
}
.copyright p {
    font-size: 0.9rem;
    font-weight: 400;
}
